body {
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Times New Roman', Times, serif;
}

.restaurant {
  background-color: rgb(251, 236, 217);
  padding: 3px;
  border: 1px;
  margin: 6px;
  border-radius: 5px;
  /* width: 800px; */
}

.header {
  margin-left: auto;
  margin-right: auto;
}

.button-right {
  float: right;
}
.content {
  color: black;
  display: inline-block;
  margin: 5px;
  width: 200px;
}

a {
  color: black;
}

.right {
  float: right;
  margin: 3px;
}

.form {
  width: 500px;
}

.ui.items>.item>.content {
  color: rgb(160, 99, 99);
}

.ui.items>.item>.content>.header:not(.ui) {
  font-size: 30px;
  line-height: 30px;
  margin: 5px 0;
}
.ui.items>.item .comment-wrapper {
  margin-top: 40px;
}
.ui.comments .comment .comment-content {
  display: inline;
}

.ui.comments .comment .metadata {
  float: right;
}



